/* Base Styles */
#background-media {
  background-image: url(../media/IllI.png);
  background-position: center;
  background-size: cover;
  background-color: #0D0606;
  height: 100vh;
  width: 100%;
}

body {
  font-family: 'Lora', Regular 400;
  background-color: #0D0606;
  color: #9A8181;
  margin: 0;
  padding: 0;
}

header {
  background-color: #0D0606;
  color: #B78484;
  text-align: center;
  padding: 2rem 0;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
}

p {
  font-size: 1.2rem;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #000000;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(183, 132, 132, 1);
}

/* Text Styles */
h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #9A8181;
}

h3 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #9A8181;
}

form {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #000000;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #943A3A;
  border-radius: 5px;
}
/* Secret Css */
input[type="submit"] {
  width: 100% #0D0606;
  padding: 1rem #0D0606;
  margin-bottom: 1rem;
  border: 1px solid #0D0606;
  border-radius: 5px;
  
/* Media Queries */
@media (min-width: 720px) {
  header {
    padding: 4rem 0;
	background-image: url(../media/IllIII.png);
	background-position: center;
	background-size: cover;
	height: 100vh;
	width: 100%;
  }

  h1 {
    font-size: 3rem;
  }

  main {
    padding: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  form {
    font-size: 1.5rem;
  }

}

@media (max-width: 720px) {
  header {
    padding: 4rem 0;
	background-image: url(../media/media/IllIII.png);
	background-position: center;
	background-size: cover;
	height: 100vh;
	width: 100%;
  }
  main {
    max-width: 720px;
    margin: 0 auto;
  }
  h1 {
    color: #B78484;
  }
  p {
    font-size: 1.5rem;
  }
}